name: Release GitHub Actions

on:
  workflow_dispatch:
    inputs:
      tag:
        description: "Tag for the release"
        required: true
      script:
        description: "Specify a script to run after audit fix"
        required: false
        default: "yarn build"  
      yarn_version:
        description: "Specify a yarn version"
        required: false
        type: string  
        default: "4.9.2"

permissions:
  contents: read

jobs:
  release:
    permissions:
      actions: read
      id-token: write
      contents: write

    uses: step-security/reusable-workflows/.github/workflows/actions_release.yaml@v1
    with:
      tag: "${{ github.event.inputs.tag }}"
      script: ${{ inputs.script || 'yarn build' }}
      yarn_version: ${{ inputs.yarn_version || '4.9.2' }}